	html {
		height: 100%;
		background-color: peru;
	}
	
	p {
		line-height: 10px;
		color: aliceblue;
	}

	ul{
		color: white;
		word-spacing: 0.1em;
		line-height: 1.4em;
	}

	h1 {
		color: cyan;
		text-align: center;
	}

	h2{
		color: blueviolet;
		text-align: center;
	}

	h4{
		color: greenyellow;
		text-align: center;
	}

	clouds {
		opacity: 0.1;
	}

	#nextpage {
		background-color: white;
	}
	
	#footer {
		padding-top: 5px;
		padding: 5px;
		padding-right: 15px;
		width: 100%;
		color: red;
		text-align: right;
		}
	
	#table, th, td {
		border: 1px solid black;
		padding: 15px;
	}

	#navbar {
		background-color: black;
		padding: 5px;
		text-align: left;
	}

	a {
		color: whitesmoke;
	}
	
	a:hover{
		color: red;
	}

	#table {
		background-color: aquamarine;
		width: 350px;
	}

	.button1{
		background-color: blueviolet;
	}

	#clock {
		color: blue;
		background-color: white;
		padding: 20px;
	}

	