	html {
		height: 100%;
	}
	
	p {
		line-height: 10px;
	}
	
	body {
		background-color: #82CAFF;
	}

	#nextpage {
		background-color: white;
	}
	
	#footer {
		border-top: solid;
		padding-top: 5px;
		padding: 5px;
		width: 100%;
		float: bottom;
		}
	
	#table, th, td {
		border: 1px solid black;
		padding: 15px;
	}
	
	#links {
		float: right;
		width: 35%;
	}
	
	#horse {
		float: left;
		width: 65%;
	}
	
	#content {
		float: bottom;
		width: 100%;
	}	
	a {
		color: black;
	}
	
	a:hover{
		color: red;
	}
	